<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Registro de productos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/nuevo">Agregar Producto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
   <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Registro de producto</h1>
            <div class="card-body">
                <form th:action="@{/guardar}" th:object="${producto}" method="post">
                    <div class="form-group">
                        <label>Nombre: </label>
                        <input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Digite el nombre del producto" required>
                    </div>
                    <div class="form-group">
                        <label>Marca: </label>
                        <input type="text" name="marca" th:field="*{marca}" class="form-control" placeholder="Digite la marca del producto" required>
                    </div>
                    <div class="form-group">
                        <label>Hecho en: </label>
                        <input type="text" name="hechoEn" th:field="*{hechoEn}" class="form-control" placeholder="Digite el lugar de fabricacionk" required>
                    </div>
                    <div class="form-group">
                        <label>Precio: </label>
                        <input type="number" name="precio" th:field="*{precio}" class="form-control" placeholder="Digite el precio del producto" required>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn  btn-success">Guardar</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
   </div>
</body>
</html>